.map-align-center {
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 80vw;
  height: 80vh;
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
  background: #FBFAED !important;
  box-shadow: none !important;
  border-radius: 12px !important;
  line-height: 1.1 !important; /* reduces extra internal spacing */
}

.gm-style .gm-style-iw-d {
  overflow: visible !important;
  margin-top: -17px !important; /* pulls box upward */
}

/* close button position */
.gm-style .gm-style-iw-chr {
  right: 6px !important;
  top: 6px !important;
}

/* actual card content */
.infowin {
  background: #FBFAED;
  color: #1B1C15;
  border-radius: 12px;
  padding: 8px 12px 10px 12px;
  min-width: 180px;
  max-width: 230px;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}