.map-align-center {
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.map-align-center .gm-style .gm-style-iw-c.gm-style-iw-c {
  padding: 0;
  box-shadow: none;
  border-radius: 12px;
  line-height: 1.1;
}

.map-align-center .gm-style .gm-style-iw-d.gm-style-iw-d {
  overflow: visible;
  margin-top: -17px;
}

.map-align-center .gm-style .gm-style-iw-chr.gm-style-iw-chr {
  right: 6px;
  top: 6px;
}

.infowin {
  border-radius: 12px;
  padding: 8px 12px 10px 12px;
  min-width: 180px;
  max-width: 230px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
