/* Mobile drawer paper */
.addbathroom-drawer-paper.MuiDrawer-paper {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: 86vh;
}

/* Drag handle */
.card-drag-handle-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.card-drag-handle {
  width: 40px;
  height: 4px;
  border-radius: 2px;
}

.addbathroom-card {
  border-radius: 8px;
  padding: 15px 25px;
}

h6.details-subheader {
  font-weight: 600;
  margin-top: 15px;
}

.details-button {
  border-radius: 30px !important;
  padding: 10px 20px !important;
  font-weight: 'normal' !important;
}

/* Margin for all text fields except the first */
.addbathroom-card .MuiTextField-root:not(:first-of-type),
.addbathroom-dialog-inner .MuiTextField-root:not(:first-of-type) {
  margin-top: 24px;
}